<article itemscope itemtype="https://schema.org/BlogPosting">
    <a draggable="false" class="post-card" rel="noopener follow" href="{{.Url}}">
        <div class="post-card-image-container">
            {{if .Image}}
            <img src="{{.Image}}" draggable="false" loading="lazy" alt="{{.Title}}" itemprop="image">
            {{else}}
            <img src="/assets/img/logo.png" draggable="false" fetchpriority=high alt="{{.Title}}" itemprop="image">
            {{end}}
        </div>
        <h2 itemprop="headline">{{.Title}}</h2>
        <div class="post-card-text">
            <p data-nosnippet>
                {{.Date.Format "Jan 02, 2006"}}{{if .Type }} | <i>{{ .Type }}</i> {{ end }}
                {{if .Categories}} | {{range $index, $cat := .Categories}}{{if $index}}, {{end}}{{$cat}}{{end}}{{end}}
            </p>
        </div>
        <p itemprop="description">{{if .Description}}{{.Description}}{{end}}</p>
    </a>
</article>